<div class="well" style="margin: 0 auto;width:70%;">
	<div class="row">
        <div class="alert alert-danger" ng-show="fail">
            There was a problem getting article list (HTTP Status: {{errorStatus}}). Please try again.
        </div>
        <div ng-show="success">
            <button class="btn btn-raised btn-danger" style="margin: 20px;" ng-click="deleteAllArticle()" ng-show="category === 'all'">DELETE ALL</button>
            <button class="btn btn-raised btn-danger" style="margin: 20px;" ng-click="deleteArticleInCategory()" ng-show="category !== 'all'">DELETE {{category}}</button>
        </div>
		<!-- article list -->
		<div class="col-md-8">
			<div class="list-group" ng-show="success">
                <div ng-repeat="article in articleList">
    			    <div class="list-group-item">
        		      	<div class="row-action-primary">
            			<!-- <i class="mdi-file-folder"></i> -->
            			    <img class="img-circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
        			    </div>
        			    <div class="row-content">
            			    <div class="least-content">{{article.created_at}}</div>
            			    <h4 class="list-group-item-heading">{{article.title}}</h4>
            			    <p class="list-group-item-text">{{article.content_text}}</p>
                            <div ng-repeat="tag in article.tag_arr">
            			        <div style="padding-top:20px" class="pull-left" ng-show="article.tag_arr !== null && article.tag_arr.length !== 0">
            				        <span class="label label-default" style="margin-right:5px;">{{tag}}</span>
            			        </div>
                            </div>
                            <div class="pull-right"><Button ng-click="deleteArticle(article.category,article.article_id)" class="btn btn-sm btn-danger btn-raised">DELETE</Button></div>
                            <div class="pull-right"><a href="#/updateArticle/{{article.category}}/{{article.article_id}}" class="btn btn-sm btn-material-orange-600 btn-raised">Edit</a></div>
            			    <div class="pull-right"><a href="#/article/{{article.category}}/{{article.article_id}}" class="btn btn-sm btn-material-blue-grey-500 btn-raised">Read More ...</a></div>
        			    </div>
    			    </div>
    			    <div class="list-group-separator"></div>
                </div>
			</div>
		</div>
		<!-- article category list -->
		<div class="col-md-4">
			<div class="list-group">
				<div class="list-group-item">
					<a href="#articleList/Category_1" ng-class="{'btn-material-blue-grey-500': category==='Category_1'}" class="btn btn-flat" style="display:inline-block;margin-right:10px;">
    					<i class="pull-left mdi-action-face-unlock"></i>
        				<span style="padding-left:10px; font-size:18px;">Category 1</span>
					</a>
                </div>
                <div class="list-group-item">
					<a href="#articleList/Category_2" ng-class="{'btn-material-blue-grey-500': category==='Category_2'}" class="btn btn-flat btn-default" style="display:inline-block;margin-right:10px;">
    					<i class="pull-left mdi-action-search"></i>
        				<span style="padding-left:10px; font-size:18px;">Category 2</span>
					</a>
                </div>
                <div class="list-group-item">
					<a href="#articleList/all" ng-class="{'btn-material-blue-grey-500': category==='all'}" class="btn btn-flat btn-default" style="display:inline-block;margin-right:10px;">
    					<i class="pull-left mdi-image-healing"></i>
        				<span style="padding-left:10px; font-size:18px;">All Category</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
