<div class="well" style="margin: 0 auto;width:70%;">
	<div class="row">
		<div class="col-md-8">
			<div class="alert alert-danger" ng-show="fail">
            	There was a problem creating article (HTTP Status: {{errorStatus}}). Please try again.
        	</div>

        	<!-- Update Article Form Start -->
        	<div ng-show="success">
        		<form class="form-horizontal">
    				<fieldset>
    					<legend>Edit this Article!</legend>
       					<div class="form-group">
            				<label for="inputTitle" class="col-lg-2 control-label">Title</label>
            				<div class="col-lg-10">
                				<input class="form-control" id="inputTitle" ng-model="article.title" required>
            				</div>
        				</div>
        				<div class="form-group">
            				<label for="inputAuthorId" class="col-lg-2 control-label">Author ID</label>
            				<div class="col-lg-10">
                				<input class="form-control" id="inputAuthorId" ng-model="article.author_id" required>
            				</div>
        				</div>
        				<div class="form-group">
    						<label class="col-lg-2 control-label" for="inputCategory">Category</label>
    						<div class="col-lg-10">
    							<input class="form-control" id="inputCategory" type="text" value="{{category}}" disabled="">
    						</div>
						</div>
						<div class="form-group">
            				<label for="textArea" class="col-lg-2 control-label">
            					Content
            				</label>
            				<div class="col-lg-10">
                				<textarea class="form-control" rows="3" id="textArea" required>{{article.content_text}}</textarea>
                				<span class="help-block">Create an Article as <strong>Username</strong></span>
            				</div>
        				</div>
    					<div class="form-group">
            				<div class="col-lg-10 col-lg-offset-2">
                				<button ng-click="updateArticle()" class="btn btn-material-blue-grey-500">Update</button>
                				<!-- <button ng-click="partiallyUpdateArticle()" class="btn btn-material-blue-grey-500">Partially Update</button> -->
            				</div>
        				</div>
    				</fieldset>
    			</form>
        	</div>
        	<!-- Update Article Form End -->
		</div>
		<!-- article category list -->
		<div class="col-md-4">
		</div>
	</div>
</div>
