<div class="well" style="margin: 0 auto;width:70%;">
	<!-- User's Detail Info Display Div Start -->
	<div>
		<form class="form-horizontal">
    		<fieldset>
    			<!-- Basic Info Start -->
        		<legend>Basic Information</legend>
        		<div class="form-group">
            		<label for="inputUsername" class="col-lg-2 control-label">Username</label>
            		<div class="col-lg-10">
                		<input type="text" class="form-control" id="inputUsername" value="Username" disabled>
            		</div>
        		</div>
        		<div class="form-group">
            		<label for="inputEmail" class="col-lg-2 control-label">Email</label>
            		<div class="col-lg-10">
                		<input type="text" class="form-control" id="inputEmail" value="emailAccount@echarm.com" disabled>
            		</div>
        		</div>
        		<div class="form-group">
            		<label for="inputEmail" class="col-lg-2 control-label">User Type</label>
            		<div class="col-lg-10">
                		<i class="mdi-maps-local-hospital mdi-material-amber"></i>
            		</div>
        		</div>
        		<!-- Basic Info End -->


        		<hr>

        		<!-- Detail Info Start -->
        		<legend>Detail Information</legend>
        		<div class="form-group">
        			<div class="togglebutton pull-right">
                    	<label>
                        	<input type="checkbox" ng-model="isEditMode"> Edit Mode
                        	<span ng-if="isEditMode"> On</span>
                        	<span ng-if="!isEditMode"> Off</span>
                    	</label>
                	</div>
        		</div>
        		
        		<div class="form-group">
            		<label for="inputName" class="col-lg-2 control-label">Name</label>
            		<div class="col-lg-10">
                		<input type="text" class="form-control" id="inputName" value="Barack Obama" ng-disabled="!isEditMode">
            		</div>
        		</div>
        		<div class="form-group">
            		<label for="inputGender" class="col-lg-2 control-label">Gender</label>
            		<div class="col-lg-10">
            			<div class="radio radio-primary">
                    		<label>
                        		<input type="radio" name="genderRadios" id="male" value="male" checked="" ng-disabled="!isEditMode">
                        	    MALE
                    		</label>
                		</div>
                		<div class="radio radio-primary">
                    		<label>
                        		<input type="radio" name="genderRadios" id="female" value="female" ng-disabled="!isEditMode">
                        		FEMALE
                    		</label>
                		</div>
            		</div>
        		</div>
        		<div class="form-group">
            		<label for="inputPhoneNumber" class="col-lg-2 control-label">Phone Number</label>
            		<div class="col-lg-10">
                		<input type="text" class="form-control" id="inputPhoneNumber" value="0800000123" ng-disabled="!isEditMode">
            		</div>
        		</div>
        		<div class="form-group">
            		<label for="inputAddress" class="col-lg-2 control-label">Address</label>
            		<div class="col-lg-10">
                		<input type="text" class="form-control" id="inputAddress" value="1600 Pennsylvania Ave NW, Washington, DC 20500" ng-disabled="!isEditMode">
            		</div>
        		</div>
        		<!-- Detail Info End -->

        		<!-- Doctor Info Start -->
        		<div ng-show="userType === 'doctor'">
        			<div class="form-group">
            			<label for="inputCategory" class="col-lg-2 control-label">Category</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputCategory" value="Division of General Surgery" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputCurrentHospital" class="col-lg-2 control-label">Current Hospital</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputCurrentHospital" value="White House" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputCollege" class="col-lg-2 control-label">Graduated From</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputCurrentHospital" value="Harvard" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputTitle" class="col-lg-2 control-label">Title</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputTitle" value="POTUS" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputSpeciality" class="col-lg-2 control-label">Speciality</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputSpeciality" value="World Peace" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputAvailableTime" class="col-lg-2 control-label">Available Time</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputAvailableTime" value="24/7" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputFBAccount" class="col-lg-2 control-label">Facebook Account</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputFBAccount" value="barackobama" ng-disabled="!isEditMode">
            			</div>
        			</div>
        			<div class="form-group">
            			<label for="inputBlogUrl" class="col-lg-2 control-label">Blog Url</label>
            			<div class="col-lg-10">
                			<input type="text" class="form-control" id="inputBlogUrl" value="http://server/barackobama" ng-disabled="!isEditMode">
            			</div>
        			</div>
        		</div>
        		<div class="form-group" ng-show="isEditMode">
            		<div class="col-lg-10 col-lg-offset-2">
                		<button type="submit" class="btn btn-material-blue-grey-500">Submit</button>
            		</div>
        		</div>
        		<!-- Doctor Info End -->
        	</fieldset>
        </form>
	</div>
	<!-- User's Detail Info Display Div End -->


	<script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>
</div>